<div id='createvote-container'>
  <div class='createvote'>
    <header>
      <nav>
        <ul class='createvote-nav-wrapper'>
          <li><a class='createvote-a' href='/'>Vote list</a></li>
          <li><a class='createvote-a' href='#' onclick="javascript:logoutControl('/logout')">Logout</a></li><br><br>
        </ul>
      </nav>
    </header>
    <div>
      <span id='expireMessageSpan'></span>
      <% if (error) { %>
        <span class='alert-flash'><%= error %> </span>
      <% } %>
    </div>
    <div>
      <form action='/voting/new' method='post'>
        <div>
          <h3>
            <label>Title</label>
          </h3>
          <div class='input-wrapper'>
            <input class='createvote-item-input' type='text' required name='voteName' minlength='2' maxlength='20' placeholder="Vote title" autofocus />
          </div>
        </div>
        <div>
          <h3>
            <label>Expire</label>
          </h3>
          <div class='input-wrapper'>
            <input class="createvote-item-input" type='datetime-local' required name='expireTime' id='expireTime' />
          </div>
        </div>
        <div class='itemBox'>
          <h3>
            <label>Item</label>
          </h3>
          <p class="createvotebutton-wrapper">
            <span>
              <button class='createvote-button' type='submit'>Create Vote!</button>
            </span>
            <span>
              <input class='addinput-button' type='button' value='Add list' onclick='addItem()' />
            </span>
            <div class='input-wrapper'>
              <input class='createvote-item-input' type='text' required name='voteItems' placeholder='Vote item' />
            </div>
          </p>
          <p>
            <div class='input-wrapper'>
              <input class='createvote-item-input' type='text' required name='voteItems' placeholder='Vote item' />
            </div>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
