<header>
  <nav></nav>
</header>
<div>
  <form>
    <div>
      <label>제목
        <input type="text" required minlength="2" maxlength="20" />
      </label>
    </div>
    <div>
      <label>선택사항
        <input type="text" required />
        <button>항목 추가</button>
      </label>
    </div>
    <div>
      <label>투표만료날짜
        <input type="datetime-local" required />
      </label>
    </div>
    <div>
      <button type="submit">투표 생성</button>
    </div>
  </form>
</div>
