<header>
  <nav>
    <ul>
      <li><a href="/voting/new">투표 생성</a></li>
      <li><a href="/myVotes">내 투표</a></li>
      <li><a href="/logout">로그아웃</a></li>
    </ul>
  </nav>
</header>
<h1>메인페이지</h1>
