<script>
  const handleClick = (event) => {
    const id = event.target.id;
    location.href = `/voting/${id}`;
  }
</script>
<header>
  <nav>
    <ul>
      <li><a href="/">투표리스트로</a></li>
      <li><a href="#" onclick="javascript:logoutControl('/logout')">로그아웃</a></li>
    </ul>
  </nav>
</header>
<h1>내 투표 페이지</h1>
<div>
  <% for( let i = 0; i < filteredData.length; i++ ) { %>
    <div onclick="handleClick(event)">
      <p id="<%= filteredData[i]._id %> ">
        투표이름: <%= filteredData[i].voteName %><br>
        투표생성자: <%= filteredData[i].voteCreator.username %><br>
        투표만료일: <%= filteredData[i].expireTime %><br>
      </p>
    </div>
  <% } %>
</div>
