<div id='signup-container'>
  <div class='signup fancy-item'>
    <div class='login-form-wrapper'>
      <form action='/signup' method='post' id='signupForm'>
        <div>
          <% if (error) { %>
            <span class='alert-flash'><%= error %> </span>
          <% } %>
        </div>
        <div>
          <h3>
            <label>Email</label>
          </h3>
          <div class='input-wrapper'>
            <input class='login-item-input' id='email-input' type='email' name='email' placeholder='abc@def.com' value='<%= email %>' required />
          </div>
        </div>
        <div>
          <h3>
            <label>Name</label>
          </h3>
          <div class='input-wrapper'>
            <input class='login-item-input' type='text' name='username' placeholder='Your name' value='<%= username %>' required />
          </div>
        </div>
        <div>
          <h3>
            <label>Password</label>
          </h3>
          <div class='input-wrapper'>
            <input class='login-item-input' type='password' name='password' placeholder='At least 8 characters' required minlength='8' />
          </div>
        </div>
        <div>
          <h3>
            <label>Password confirm</label>
          </h3>
          <div class='input-wrapper'>
            <input class='login-item-input' type='password' name='password2' placeholder='Password Confirm' required minlength='8' />
          </div>
        </div>
        <div>
          <button class='loginbutton' type='submit'>✅ Submit</button>
        </div>
      </form>
      <form action="/login/plain" method="get">
        <button class="loginbutton">🔙 Back to login</button>
      </form>
    </div>
  </div>
</div>

