html {
  height: 100%;
  background: #f5f6f7;
  font-family: 'GangwonEdu_OTFBoldA';
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.alert-flash {
  font-size: 18px;
  animation: warning 1.5s linear infinite;
}

@keyframes warning {
  0%,
  100% {
    color: #ff0055;
  }
  70% {
    color: black;
  }
}

.success-flash {
  font-size: 20px;
  animation: success 1.5s linear infinite;
}

@keyframes success {
  0%,
  100% {
    color: #28d7fef0;
  }
  70% {
    color: black;
  }
}

#createvote-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createvote {
  width: 500px;
}

#signup-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  width: fit-content;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

#login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-item-image {
  size: 30%;
}

.login-form-wrapper {
  width: 360px;
}

.createvote-item-input {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  width: 100%;
  padding: 14px 17px 13px;
  box-sizing: border-box;
}

.input-wrapper {
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

.login-item-input {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  width: 100%;
  padding: 14px 17px 13px;
  box-sizing: border-box;
}

.createvote-button {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  padding: 10px;
  margin: 20px 0px;
  width: 30%;
  box-sizing: border-box;
  /* float: left; */
  transition-duration: 0.4s;
  background: white;
  border-radius: 2pt;
  border: 0;
  outline: 0;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

.createvote-nav-wrapper li {
  float: left;
}

.createvote-a {
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
  text-decoration: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.821);
  margin: 0 10px;
  padding: 5px;
  border: rgba(255, 255, 255, 0.721) solid;
  border-radius: 3px;
  transition: all 0.5s;
}

.createvote-a:link {
  text-shadow: none;
}

.fancy-item {
  animation: animate 500ms 100ms cubic-bezier(0.33, 0.72, 0.51, 0.71) forwards;
  opacity: 0;
  transform: translateY(30px);
}

@keyframes animate {
  100% {
    opacity: 1;
    transform: none;
  }
}

.addinput-button {
  cursor: pointer;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  padding: 10px;
  margin: 20px 20px;
  width: 30%;
  box-sizing: border-box;
  transition-duration: 0.4s;
  background: white;
  border-radius: 2pt;
  border: 0;
  outline: 0;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

.addinput-button:hover {
  background-color: rgba(159, 159, 159, 0.255);
  color: white;
}

.createvote-button:hover {
  background-color: rgba(159, 159, 159, 0.255);
  color: white;
}

.loginbutton {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  box-sizing: border-box;
  float: left;
  transition-duration: 0.4s;
  background: white;
  border-radius: 2pt;
  border: 0;
  outline: 0;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

.loginbutton:hover {
  background-color: rgba(159, 159, 159, 0.255);
  color: white;
}

.login-another-button-wrapper {
  text-align: center;
}

.login-another-button {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  padding: 10px;
  margin-left: 30px;
  transition-duration: 0.4s;
  background: white;
  border-radius: 2pt;
  border: 0;
  outline: 0;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 10%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.218),
  0px 2px 5px -7px rgb(0 0 0 / 10%);
}

.login-another-button:hover {
  background-color: rgba(159, 159, 159, 0.255);
  color: white;
}

.login-another-button-join {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
  padding: 10px 24px;
  margin-left: 30px;
  transition-duration: 0.4s;
  background: white;
  border-radius: 2pt;
  border: 0;
  outline: 0;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 10%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.218),
  0px 2px 5px -7px rgb(0 0 0 / 10%);
}

.login-another-button-join:hover {
  background-color: rgba(159, 159, 159, 0.255);
  color: white;
}

.mainpage-flash {
  text-decoration: none;
  font-size: 20px;
  color: rgba(204, 133, 235, 0.821);
  margin: 0 10px;
  padding: 5px;
  -webkit-text-stroke: 0.3px;
  -webkit-text-stroke-color: black
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.callbacklogintext-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.flux {
  font-family: neon;
  font-size: 30px;
  line-height: 100px;
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
  color: #28d7fef0;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(204, 133, 235, 0.821);
  margin: 0 10px;
  padding: 5px;
  border: rgba(194, 100, 231, 0.721) solid;
  border-radius: 10px;
  transition: all 0.5s;
  -webkit-text-stroke: 0.3px;
  -webkit-text-stroke-color: black
}

a:hover {
  background: azure;
}

a:link {
  text-shadow: 0 0 24px;
}

a:visited {
  text-shadow: none;
}

.container::before, .container::after
{
  position: absolute;
  content : "";
  top: -5%;
  left: -5%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(60px);
}

.container::after
{
  background-color:#0055ff88;
  z-index: -1;
  animation : backglow2 15s ease infinite;
}

.container::before
{
  background-color:#ff6200aa;
  z-index: -2;
  animation : backglow1 15s ease infinite;
}

@keyframes backglow1
{
  0%
  {
    transform: translate(10%, 10%) scale(1);
    opacity:0.5;
  }
  25%
  {
    transform: translate(-10%, 10%) scale(0.8);
    opacity:0.5;
  }
  50%
  {
    transform: translate(-10%, -10%) scale(1.2);
    opacity:0.8;
  }
  75%
  {
    transform: translate(10%, -10%) scale(1.1);
    opacity:0.2;
  }
  100%
  {
    transform: translate(10%, 10%) scale(1);
    opacity:0.5;
  }
}

@keyframes backglow2
{
  0%
  {
    transform: translate(-10%, -10%) scale(1);
    opacity:0.5;
  }
  25%
  {
    transform: translate(10%, -10%) scale(0.8);
    opacity:0.5;
  }
  50%
  {
    transform: translate(10%, 10%) scale(1.2);
    opacity:0.8;
  }
  75%
  {
    transform: translate(-10%, 10%) scale(1.1);
    opacity:0.2;
  }
  100%
  {
    transform: translate(-10%, -10%) scale(1);
    opacity:0.5;
  }
}

ul {
  list-style: none;
}

.mainpage-nav li {
  float: right;
  margin-right: 5px;
}

.mainpage-nav li::after {
  padding-left: 5px;
  content: "|";
  opacity: 30%;
  font-size: 25px;
}

.mainpage-nav li:last-child::after {
  content: "|";
  opacity: 30%;
  font-size: 25px;
}

.mainpage-nav li:first-child::after {
  content: "";
  opacity: 30%;
}

.votelist-item {
  cursor: pointer;
  transition-duration: 0.4s;
  background: rgb(239, 234, 247);
  border-radius: 8%;
  border : 1px;
  border-style: groove;
  box-shadow:
  0px 5px 8px 3px rgb(0 0 0 / 30%),
  0px 2px 5px -2px rgba(0, 0, 0, 0.418),
  0px 2px 5px -7px rgb(0 0 0 / 20%);
}

.votelist-item:hover {
  background-color: rgba(159, 159, 159, 0.255);
}

.vote-end {
  background: #dc4c5d;
  color: white;
}

#mainpage-container {
  display: grid;
  margin: 0 20%;
  grid-template-columns: repeat(5, 200px);
  grid-template-areas:
  "header header header header header";
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
  gap: 40px;
}
header {grid-area: header;};
